{% extends 'cats/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if cat %}
        {{ cat.name }}
    {% else %}
        Unknown Cat
    {% endif %}
{% endblock %}

{% block body_block %}
{% if cat %}
    <h1>{{ cat.name }}'s Info </h1>
    {% if cat.picture %}
    <img src="{{ MEDIA_URL }}{{ cat.picture }}" width="300" height="300" alt="{{ cat.name }}'s Photo"/><br />
    {% else %}
    <img src="{% static 'images/no_picture.png' %}" width="300" height="300" alt="No Profile Photo" /><br />
    {% endif %}
    <strong>Name: </strong>{{ cat.name }}<br />
    <Strong>Owner: </Strong>{{ cat.owner.forename }} {{ cat.owner.surname }}<br />
    <strong>Age: </strong>{{ cat.age }}<br /><br />
{% endif %}
<a href="{% url 'cats:cats' %}">Full list of cats</a><br />
<a href="{% url 'cats:index' %}">Home</a>
{% endblock %}