{% extends 'cats/base.html' %}
{% load staticfiles %}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}
<img src="{% static 'images/cat.png' %}" alt="Picture of Cat" />
    <h1>{{ title }} </h1>
    {% if students %}
    <ul>
        {% for student in students %}
        {% if student.numCats != 1 %}
        <li> {{ student.forename }} {{ student.surname }} has <strong>{{ student.numCats }}</strong> cats </li>
        {% else %}
        <li> {{ student.forename }} {{ student.surname }} has <strong>1</strong> cat </li>
        {% endif %}
            {% for cat in cats %}
            {% if cat.owner == student %}
        <ul>
            <li><a href="{% url 'cats:cat_profile' cat.cat_slug %}">{{ cat.name }}</a></li>
        </ul>
            {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}
    <a href="{% url 'cats:cats' %}">About Pets of Students</a>
{% endblock %}